asn1crypto
astroid
beautifulsoup4
certifi
cffi
chardet
cloudscraper
cryptography
python-dotenv
future
idna
isort
lazy-object-proxy
lxml
mccabe
pycparser
pylint
pyparsing
python-telegram-bot
PyYAML
requests
requests-toolbelt
six
soupsieve
typed-ast
urllib3
wrapt
selenium